<!-- ADD A BUG page -->
<ng-form name="bugForm" onsubmit="addTheBug()">
	<div>
		<table style="width:500;padding:5px;border-spacing:5px">
			<tr>
				<td colspan="2" align="center"><h2>Add A Bug</h2></td>
			</tr>
			<tr>
				<td align="right"><label>Common Name:</label></td>
				<td><input name="commonName" ng-style="{'background-color': bugForm.commonName.$touched && bugForm.commonName.$invalid ? 'pink': 'white'}" type="text" placeholder="Common name" ng-model="commonName2" required></td>
				<td style="color:red" ng-show="bugForm.commonName.$touched && bugForm.commonName.$invalid">
					Common Name is required.
				</td>
			</tr>
			<tr>
				<td align="right"><label>Class:</label></td>
				<td><input type="text" name="className" ng-style="{'background-color': bugForm.className.$touched && bugForm.className.$invalid ? 'pink': 'white'}" placeholder="Class" ng-model="className2" required></td>
				<td style="color:red" ng-show="bugForm.className.$touched && bugForm.className.$invalid">
					Class is required.
				</td>
			</tr>
			<tr>
				<td align="right"><label>Order:</label></td>
				<td><input type="text" name="orderName" ng-style="{'background-color': bugForm.orderName.$touched && bugForm.orderName.$invalid ? 'pink': 'white'}" placeholder="Order" ng-model="orderName2" required></td>
				<td style="color:red" ng-show="bugForm.orderName.$touched && bugForm.orderName.$invalid">
					Order is required.
				</td>
			</tr>
			<tr>
				<td align="right"><label>Family:</label></td>
				<td><input type="text" placeholder="Family" ng-model="familyName2"></td>
			</tr>
			<tr>
				<td align="right"><label>Genus:</label></td>
				<td><input type="text" placeholder="Genus" ng-model="genusName2"></td>
			</tr>
			<tr>
				<td align="right"><label>Species:</label></td>
				<td><input type="text" placeholder="Species" ng-model="speciesName2"></td>
			</tr>
			<tr>
				<td align="right"><label>Description:</label></td>
				<td><input type="text" name="description" ng-style="{'background-color': bugForm.description.$touched && bugForm.description.$invalid ? 'pink': 'white'}" placeholder="Description" ng-model="description2" required></td>
				<td style="color:red" ng-show="bugForm.description.$touched && bugForm.description.$invalid">
					Description is required.
				</td>
			</tr>
			<tr>
				<td align="right"><label>Date of Observation:</label></td>
				<td><input type="date" style="width:170px" name="dateOfObservation" ng-style="{'background-color': bugForm.dateOfObservation.$touched && bugForm.dateOfObservation.$error.required ? 'pink': 'white'}" ng-model="DateOfObservation" placeholder="MM-dd-yyyy" required></td>
				<td style="color:red" ng-show="bugForm.dateOfObservation.$touched && bugForm.dateOfObservation.$error.required">
					Date of Observation is required.  
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td align="right"><label>Filename for Image:</label></td>
				<td><input type="text" name="filename" ng-style="{'background-color': bugForm.filename.$touched && bugForm.filename.$invalid ? 'pink': 'white'}" placeholder="Filename" ng-model="filename2" required></td>
				<td style="color:red" ng-show="bugForm.filename.$touched && bugForm.filename.$invalid">
					Filename is required.
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" value="Add it to the list"></td>
			</tr>
		</table>
	</div>
</ng-form>
<!-- END -->