<!-- ADD A BUG page -->
<div>
	<h1>Add A Bug</h1>
	<label>Common Name:</label>
	<input type="text" placeholder="Please enter the common name" ng-model="commonName2"><br/>
	<label>Class:</label>
	<input type="text" placeholder="Please enter the class" ng-model="className2"><br/>
	<label>Order:</label>
	<input type="text" placeholder="Please enter the order" ng-model="orderName2"><br/>
	<label>Family:</label>
	<input type="text" placeholder="Please enter the family" ng-model="familyName2"><br/>
	<label>Genus:</label>
	<input type="text" placeholder="Please enter the genus" ng-model="genusName2"><br/>
	<label>Species:</label>
	<input type="text" placeholder="Please enter the species" ng-model="speciesName2"><br/>
	<label>Description:</label>
	<input type="text" placeholder="Please enter a description" ng-model="description2"><br/><br/>
	<label>Filename:</label>
	<input type="text" placeholder="Please enter a filename for the image" ng-model="filename2"><br/><br/>
	<input type="button" ng-click="addTheBug()" value="Add it to the list">
</div>
<!-- END -->